<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APP1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA72C8D71E81E83200172E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA72C8F01E81E83200172E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA72C8FB1E81E83200172E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
